
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CEA Portal</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
   
@*     <link href="css/bootstrap.min.css" rel="stylesheet">*@
 <link href="../startbootstrap-freelancer-1.0.4/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    @*<link href="css/freelancer.css" rel="stylesheet">*@
<link href="../startbootstrap-freelancer-1.0.4/css/freelancer.css" rel="stylesheet" />
    <!-- Custom Fonts -->
@*    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*@
 <link href="../startbootstrap-freelancer-1.0.4/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @* <a class="navbar-brand" href="#page-top" id="welcomeusername">Welcome User Name</a>*@
                <div  class="navbar-brand" id="welcomeusername"></div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                     <li class="page-scroll">
                        <a href="../Home/StudentHomePage">HomePage</a>
                    </li>
                   
                     <li class="page-scroll">
                        <a href="../Home/CreateProfile">Create Profile</a>
                    </li>
                           <li class="page-scroll">
                        <a href="../Home/SchoolCompareGet">School Comparison</a>
                    </li>
                     <li class="page-scroll">
                        <a href="../Home/ApplyCollege">Apply</a>
                    </li>
                    <li class="page-scroll">
                        <a href="../Home/History">History</a>
                    </li>
                     <li class="page-scroll">
                        <a href="#">Review</a>
                    </li>

                    <li class="page-scroll">
                        <a href="../Home/Index">Logout</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
   @* <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="../../startbootstrap-freelancer-1.0.4/img/portfolio/LOGO.jpg" width="256px" style="margin-top:-120px;" alt="" />
             
                    <div class="intro-text">
                        <span class="name" style="font-size:50px;">Centralized E-Student Admission System </span>
                        <hr class="star-light">
                        <span class="skills">Your School. Your Decision. Your Future</span>
                    </div>
                </div>
            </div>
        </div>
    </header>*@

    <!-- About Section -->
    <section class="success" id="common" >
        <div class="container" style="margin-top:20px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                     @RenderSection("featured", required: false)
                                    @RenderBody()
                    @RenderSection("scripts", required: false)
                   @* <h2>About Us</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
<p style="text-align:justify">The proposed Centralize E-Student Admissions System intends to be a single platform for students to pursue higher education to further their career goals. This is an online application which will gather the student’s personal and educational data and help the students to compare between the selected schools. Additionally it will assist the students to submit the admission application online to the chosen schools.</p>
                </div>
                <div class="col-lg-4">
                   <p style="text-align:justify">Currently, a student needs to individually visit a particular school’s website to gather useful information about the schools. This is a very time consuming process. Furthermore, the students need apply separately by filling out the similar kind of forms for various schools and courses. This application will helps to reduce time consumption for collecting the school information as well as filling out the same kind of admission applications. </p>
                </div>*@
                @*<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>*@
            </div>
        </div>
    </section>
   

   
    


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>One Place Plaza, New York, NY. 10038</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            @*<li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>*@
                            <li>
                                <a href="https://twitter.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                           @* <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>*@
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About CEA </h3>
                        <p> Life Made Easy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; CEA System 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

     <!-- Forgot Password -->
    
 
       

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

   
    <!-- jQuery -->
   @* <script src="js/jquery.js"></script>*@
    <script src="../startbootstrap-freelancer-1.0.4/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    @*<script src="js/bootstrap.min.js"></script>*@
<script src="../startbootstrap-freelancer-1.0.4/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../startbootstrap-freelancer-1.0.4/js/classie.js"></script>
    @*<script src="js/classie.js"></script>*@
   @* <script src="js/cbpAnimatedHeader.js"></script>*@
    <script src="../startbootstrap-freelancer-1.0.4/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../startbootstrap-freelancer-1.0.4/js/jqBootstrapValidation.js"></script>
    <script src="../startbootstrap-freelancer-1.0.4/js/contact_me.js"></script>
    @*<script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>*@
<script src="../startbootstrap-freelancer-1.0.4/js/freelancer.js"></script>
    <!-- Custom Theme JavaScript -->
    @*<script src="js/freelancer.js"></script>*@

</body>
   
</html>

