@{
    ViewBag.Title = "StudentHomePage";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
 
}

<style>
    .formatting {
    font-size:20px;
    color:blue;
        
    }



</style>
<h2>Student Home Page</h2>
<br />
@ViewBag.msg 

<p>
   <p style ="font-size:25px; color:blue;">Hello,</p>
<p class="formatting" style="float:left; padding:0px">
Thank you for using our system. Please take some moments to review features of system.
<br />
<br />


1. We know that browsing and comparing data of each school you desire is pain in neck.
We have added the “School Comparison” feature for that, just select you desire from the drop and get the comparison.
<br />
<br />
<br />

2.	Leave behind the old way of applying to each school separately.
Click on “Apply” and select the school form drop down. One click and applications for all school are on their way!!
<br />
<br />
<br />

3.	Keeping track of each and every application you made is not an easy job.
Check you the “History” feature, it might help you a lot.
<br />
<br />
<br />

4.	Applied to various universities? Difficulties in looking up particular applications. We have Hassle free application “Review”.


</p>